<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%level %d{HH:mm:ss} %logger{15} - %message%n%xException{5}</pattern>
        </encoder>
    </appender>

    <logger name="com.hunorkovacs.workpullingactors.example" level="INFO" />
    <logger name="com.hunorkovacs.workpullingactors" level="WARN" />
    <logger name="akka" level="INFO" />

    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
